/lr_Head.png
/loss_Head.png
/lr_Open.png
/loss_Open.png
/lr_Breathy.png
/loss_Breathy.png
/lr_Front.png
/loss_Front.png
/lr_Vibrato.png
/loss_Vibrato.png
/lr_Chest.png
/loss_Chest.png
/lr_Back.png
/loss_Back.png
/lr.png
/loss.png
